In [1]:
import pandas as pd

In [2]:
columns = ['engine_id', 'cycle'] + \
          [f'op_setting_{i}' for i in range(1, 4)] + \
          [f'sensor_{i}' for i in range(1, 22)]

In [3]:
df = pd.read_csv(
    'data/raw/train_FD001.txt',
    sep=' ',
    header=None,
    names=columns
)

In [4]:
df = df.dropna(axis=1)

In [5]:
df.head()

     engine_id   cycle  op_setting_1  op_setting_2  op_setting_3  sensor_1  \
1 1    -0.0007 -0.0004         100.0        518.67        641.82   1589.70
  2     0.0019 -0.0003         100.0        518.67        642.15   1591.82
  3    -0.0043  0.0003         100.0        518.67        642.35   1587.99
  4     0.0007  0.0000         100.0        518.67        642.35   1582.79
  5    -0.0019 -0.0002         100.0        518.67        642.37   1582.85

     sensor_2  sensor_3  sensor_4  sensor_5  ...  sensor_10  sensor_11  \
1 1   1400.60     14.62     21.61    554.36  ...     521.66    2388.02
  2   1403.14     14.62     21.61    553.75  ...     522.28    2388.07
  3   1404.20     14.62     21.61    554.26  ...     522.42    2388.03
  4   1401.87     14.62     21.61    554.45  ...     522.86    2388.08
  5   1406.22     14.62     21.61    554.00  ...     522.19    2388.04

     sensor_12  sensor_13  sensor_14  sensor_15  sensor_16  sensor_17  \
1 1    8138.62     8.4195       0.03        392       2388      100.0
  2    8131.49     8.4318       0.03        392       2388      100.0
  3    8133.23     8.4178       0.03        390       2388      100.0
  4    8133.83     8.3682       0.03        392       2388      100.0
  5    8133.80     8.4294       0.03        393       2388      100.0

     sensor_18  sensor_19
1 1      39.06    23.4190
  2      39.00    23.4236
  3      38.95    23.3442
  4      38.88    23.3739
  5      38.90    23.4044

[5 rows x 24 columns]

In [6]:
df.shape

(20631, 24)